{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Task Lists</h1>

    <ul class="list-group">
    {# list \App\Entity\TaskList #}
    {% for list in lists %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ path('show_list', { 'id': list.id }) }}">{{ list.title }}</a>
            <span class="badge badge-pill badge-primary">open: {{ list.openTasks|length }}</span>
        </li>
    {% else %}
        <li class="list-group-item list-group-item-info">There are no task lists. Please <a href="{{ path('create_list') }}">create one</a>.</li>
    {% endfor %}
    </ul>

    <p class="mt-2 mb-2"><a href="{{ path('create_list') }}" class="btn btn-primary">Create list</a></p>

{% endblock %}
