{% extends 'layout.html.twig' %}

{% block content %}

    {# list \App\Entity\TaskList #}
    <h1><a href="{{ path('show_lists') }}">{{ list.title }}</a></h1>

    <ul class="nav nav-pills mt-4 mb-4">
        <li class="nav-item"><a href="{{ path('add_task', { 'id': list.id }) }}" class="nav-link active">Add task</a></li>
        <li class="nav-item"></li>
    </ul>

    <h2>Tasks</h2>
    <ul class="list-group">
        {% for task in list.tasks %}
        <li class="list-group-item">
            <form action="{{ path('update_task', { 'id': task.id }) }}" method="post">
                <button type="submit" class="btn btn-link" name="change">{{ task.done ? '☑️' : '◻️' }} {{ task.title }}</button>
            </form>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
